

<div id="app">
    <div class="row">
        <div class="col col-lg-5 mx-auto">
            <h5>{{pageTitle}}</h5>
            <div class="alert alert-primary" role="alert">
                    {{quote}}                
            </div>
        </div>
    </div>
</div>
<script src="~/vue/vue.js"></script>
<script src="~/js/quote.js"></script>


